* {
  box-sizing: border-box;
}
.home-section {  
  margin: 3em;
  padding: 1em;
  border: 2px transparent;
  border-radius: 3em;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, rgb(230, 118, 54), red);
  box-shadow: rgb(228, 101, 28) 13px 6px 40px -10px;
}

.title-home-section {
  margin-left: .6em;
}

.card-box {
  height: 9.2em;
  width: 12em;
  margin: 1em;
}

.card {
  padding: 0;
  /* width: 100%; */
}

.card-img-top {
  object-fit: cover;
}

.title-section {
  text-align: center;
}

.title-card {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}