/* Playlists page */
main {
  background : #D5D8DC;
  padding: 2em;
  box-shadow: 5px 3px 10px rgb(0 0 0 / 0.2);
  box-sizing: border-box;
  border-radius: 0.5em;
  background: linear-gradient(to right, red, orange);
}

#title-page {
  font-size: 3rem;
  text-shadow: grey 1px 0 10px;
  margin-bottom: 0.4em;
}

#subtitle-page {
  font-size: 1.4rem;
  text-shadow: grey 1px 0 10px;
  font-weight: 400;
}

.card {
  position: relative;
  text-align: center;
  color: white;
  border: none;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 0.2);
  font-size: 2.2rem;
  margin: 1em;
}

.card:hover,
.card:focus {
  box-shadow: 1px 2px 14px whitesmoke;
  text-shadow: whitesmoke 1px 0 10px;
  font-size: 2.23rem;
  cursor: pointer;
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 1em;
  mix-blend-mode: difference;
  color: rgb(255, 255, 255);
}

#text-no-playlist {
  color: white;
  font-size: 2rem;
}

/* Playlist Detail page */
.playlist-container {
  background: linear-gradient(to right, red, orange);
  opacity: 0.9;
  padding: 2em;
}

#title-playlist {
  font-size: 3.2rem;
  text-shadow: orange 4px 0 10px;
  margin-bottom: 0.4em;
}

#playlist-description {
  font-size: 1.35rem;
  background-color: rgba(255%,255%,255%,0.30);
  padding: 0.5em;
}

.track-list {
  background-color: rgba(255%,255%,255%,0.30);
  margin-top: 4em;
  padding: 2em;
}

#title-playlist,
#playlist-description,
.track-list {
  color: #F2F3F4;
}

#playlist-description,
.track-list {
  border-radius: 0.4em;
}

#header-page {
  text-align: center;
}

#tracks-title {
  padding-left: 0.7em;
}