* {
  box-sizing: border-box;
}

body {
  padding: 0;
}

.home-section {  
  margin: 3em;
  padding: 1em;
  border: 2px transparent;
  border-radius: 3em;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, rgb(230, 118, 54), red);
  box-shadow: rgb(228, 101, 28) 13px 6px 40px -10px;
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.title-home-section {
  margin-left: .6em;
}

.icon-section {
  margin-left: 2.5em;
}

.card-box {
  height: 10em;
  width: 12em;
  margin: 1em;
}

.card {
  padding: 0;
}

.card:hover,
.card:focus {
  cursor: pointer;
  box-shadow: rgb(228, 101, 28) 13px 6px 40px -10px;
}

.card-img-top {
  object-fit: cover;
  height: 90%;
}

.title-section {
  text-align: center;
  height: 10%;
}

.title-card {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.no-data-found {
  font-size: 1.3rem;
  font-weight: 500;
}

.bi {
  font-size: 1.4rem;
  padding: 0 .4em;
  background: -webkit-linear-gradient(rgb(230, 118, 54), red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bi:hover,
.bi:focus {
  cursor: pointer;
  background: -webkit-linear-gradient(rgb(230, 118, 54), white)!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}

.heroo {
  margin-bottom: 7em;
  height: 700px;
  width: 100vw;
  position: relative;
  object-fit: fill;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  height: 700px;
  object-fit: cover;
  position: relative;
  width: 100%;
  object-fit: cover;
  opacity: .9;
}

.hero-text {
  font-size: 4.2rem;
  position: absolute;
  padding: 1em;
  top: 50%;
  color: white;
}

@media only screen and (max-width: 1250px) {
  .hero-text {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 900px) {
  .hero-text {
    font-size: 2.5rem;
  }
}